[2012-09-28 23:25] krupa opened #129 "Test for adding a new version to an existing packaged app"
## Precondition:
a) This test assumes that a packaged app already exists with at least one valid version.
b) There is a new version of the packaged app to upload.

## Steps for the test:
1. Go to the versions page for the packaged app.
2. Click on the "Select a file" button under Upload a New Version section.
3. Upload the new version of the packaged app

## Expected result:
a) The new version pas

[2014-02-07 15:14] rbillings opened #436 "Marketplace-tests review"
1) Assign this Issue to yourself
2) Go through the Marketplace-tests desktop and mobile folders: https://github.com/mozilla/marketplace-tests/tree/master/tests
3) Open each .py file
4) Check each file for: typos in function or object names, misspellings, references to pivotal tracker, references to litmus
5) If you find one, remove it and submit a pull request for each one
6) If you review all tes

[2014-06-27 22:17] krupa opened #488 "Check submission of an app with XSS in it's app name"
## Steps to test
1. Create a test app using XSS in it's name at testmanifest.com
2. Submit the app
3. Complete submission
4. Check that there is no XSS on submission pages or /edit pages

## Expected behavior
There is no XSS on submission pages or /edit pages

[2014-08-29 14:43] rbillings opened #521 "Readme needs to be updated"
The readme does not include information about how these tests need to be run in a Windows environment, and that tests will fail on other OS.

[2014-09-03 12:51] AndreiH opened #524 "Create new Sanity test suite"
We will have a test suite only for Sanity tests. We will need to create new tests acording to this list:
https://moztrap.mozilla.org/runtests/run/57/env/112/

[2014-09-19 19:17] krupa opened #534 "Test signing in to marketplace using Firefox Accounts as a new user"
## Steps to test
1. Load marketplace-dev on your  desktop firefox browser
2. Click on the Sign in button
3. In the FxA pop-up, click on the 'Create an account' link
4.  Enter email, password and year of birth
5. Confirm  by clicking on the email sent to your account

## expected behavior:
Log in is successful

[2014-10-21 12:43] AndreiH opened #563 "Investigate and find another solution for "self._reviews_setup()" in test_that_checks_the_addition_of_a_review"
As discussed in https://github.com/mozilla/marketplace-tests/pull/554 there is no reason why we should add a review and then delete it here: https://github.com/mozilla/marketplace-tests/blob/master/tests/desktop/consumer_pages/test_reviews.py#L33
Investigate and look for another method for this.

[2014-10-24 13:22] AndreiH opened #568 "Review is added incorrect on Saucelabs"
http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.dev.mobile.saucelabs/1492/HTML_Report/
AssertionError: AutomaticReviewSeleniumTests141299 is not found in AutomaticReviewSeleniumTests1414155299.
See the run here: http://saucelabs.com/jobs/2e62bc062f6b417594b3dd17bd905efa
This reminds me of issue that we had a while back: https://github.com/mozilla/marketplace-tests/pull/22

[2014-12-30 23:09] stephendonner opened #601 "Investigate/fix test_that_application_page_contains_proper_objects (support email text/link)"
http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.PROD/1882/console
http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.PROD.saucelabs/1671/
http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.PROD.saucelabs.sanity_tests.andreih/91/

Recent marketplace.prod.* failures (several jobs) have surfaced that we can no longer count on the

[2015-01-15 14:06] AndreiH commented on #601
so that Assert needs to be removed, did you talked to the devs on #marketplace and they are ok with it?

[2015-01-15 14:35] AndreiH opened #604 "Add tests for Promo Module"
@krupa requested that we should have a test for Promo Module present and visible on Desktop, and not present on mobile devices (Firefox  OS and Android). This means 3 tests for each environment.

[2015-01-15 14:41] AndreiH opened #605 "Add test for the Free button under apps on Homepage not triggering an install"
The Free button under each app on Home Page when clicked triggers an install of that app.
That shouldn't be happening. There's already a bug on that and we have to add a test that nothing happens on clicking that text.

[2015-01-15 20:55] krupa opened #606 "Add a test to complete an app purchase an Desktop"
Desktop support for payments just landed. Let us add a test to buy an app on desktop.

[2015-01-16 08:22] AndreiH commented on #606
Thanks @krupa . I will work on this, but first we have to merge  https://github.com/mozilla/marketplace-tests/pull/584 PR for creating a new user

[2015-01-16 09:53] AndreiH commented on #604
I'll take this.

[2015-01-20 10:26] AndreiH opened #608 "test_that_searching_returns_results fails on Mobile"
Here is the failing job http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.DEV.mobile.saucelabs/1747/HTML_Report/

Here is the Saucelabs run: https://saucelabs.com/tests/08c7fb058b374ee8a4f84f560cf17ba4

I tried to reproduce this locally on Android Emulator with Appium, but it does not fail. Not one single time. This needs to be investigated some more.

self = <tests.mobile.

[2015-01-20 11:37] AndreiH commented on #568
This started intermittently passing on dev.

[2015-01-22 12:28] viorelaioia commented on #604
Pull 607 is merged. Closing issue.

[2015-01-22 12:28] #604 closed

[2015-01-22 12:37] AndreiH commented on #601
This issue was addressed. Thanks!

[2015-01-22 12:37] #601 closed

[2015-01-22 17:30] AndreiH commented on #605
I worked on this today and this is kinda confusing.
There are 4 types of buttons on Home Page (see screenshot) . They are all clickable.
I think that the ones that are non-bordered are the ones to be tested if they trigger an app install when clicked. Is that right @krupa ?
So, I was thinking that we could check this by Asserting if those specific "Free" buttons are clickable or not. If they are c

[2015-01-23 20:50] bobsilverberg opened #610 "test_opening_every_category_page_from_categories_menu isn't actually running"
I noticed something strange when I ran `test_opening_every_category_page_from_categories_menu` locally, and I am seeing it to on the Saucelabs run [1]. Although the test runs and passes, it doesn't seem to open *any* of the category pages, let alone all of them! So it looks like there is something seriously wrong with the test.

[1] https://saucelabs.com/jobs/bbb8c652a7384fe4b7574d684cdbd58c

[2015-01-26 15:35] AndreiH commented on #610
As mentioned in https://github.com/mozilla/marketplace-tests/pull/591, I resolved the problem by changing the locator to be the correct one.
<code>test_opening_every_category_page_from_categories_menu</code> was failing because <code>home_page.category_count</code> was returning <code>init:0</code>
Let's modify the test to make sure this never happens again if the locator changes

[2015-01-27 03:15] bobsilverberg commented on #610
@AndreiH This test is having all kinds of failures on CI. It seems like there must be a way to make the test more stable. Can you take a look when you get in tomorrow. It's failing consistently on marketplace.prod and marketplace.dev, but the saucelabs runs seem less consistently faily.

[2015-01-27 15:12] AndreiH commented on #610
@bobsilverberg I have run this test locally for tens of times and it didn't reproduce.
Since the Saucelabs failures were different I increased the <code>--timeout</code> of the jobs from 300 to 400 as the test takes quite a bit to complete. After that modification, all Saucelabs jobs passed without problems.
As for the inhouse jobs, I tried different <code>waits</code> and <code>time.sleeps</code>

[2015-01-27 15:19] bobsilverberg commented on #610
@AndreiH I cannot reproduce it locally either. :(

If the test truly takes that long to complete, then we should try to shorten it. I think it is now doing a bit more than it has to, checking each app on each page. Maybe we could just check the first one or two apps, and maybe we could open a random assortment of categories instead of all categories.

@krupa What do you think? The test seems to be

[2015-02-02 16:18] AndreiH commented on #610
It seems that the test started passing on our inhouse VMs http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.DEV/

[2015-02-02 16:21] AndreiH commented on #608
This is not reproducing anymore. Closing the issue.

[2015-02-02 16:21] #608 closed

[2015-02-02 16:22] AndreiH commented on #524
This has been resolved. Closing

[2015-02-02 16:22] #524 closed

[2015-02-02 16:25] AndreiH commented on #488
This has been resolved. Closing

[2015-02-02 16:25] #488 closed

[2015-02-02 16:26] AndreiH commented on #129
PR was merged, we have a test for adding a new version. Closing

[2015-02-02 16:26] #129 closed

[2015-02-09 16:10] AndreiH opened #618 "Test adding a screenshot on Dev_hub fails because send_keys() method"
<code>send_keys</code> method does not inserts the screenshot anymore in the input field.
The method passes but nothing happens. I looked over this but I cannot find the issue.
Locators are ok, path is ok, method passes and manually it cannot be reproduced.

Please see : http://selenium.qa.mtv2.mozilla.com:8080/view/Marketplace/job/marketplace.DEV.developer_hub.saucelabs/1760/HTML_Report/

[2015-02-09 18:37] krupa opened #620 "Add a test make an app purchase on Android"
Android Payments are going to be a thing soon and we should have test coverage for it anyways.

Currently, there is a blocking bug https://bugzilla.mozilla.org/show_bug.cgi?id=1130057 but older versions of the nightly should be okay.

[2015-02-11 12:40] AndreiH commented on #620
I explained this before in a mail that I sent. We cannot do Payments on an Emulator that is running on Saucelabs. The response that they gave us for this is to wait until they have real devices placed.

[2015-02-11 12:51] AndreiH commented on #618
I just tried adding the workaround that @bobsilverberg used in PR: https://github.com/mozilla/marketplace-tests/pull/621
Modified this: https://github.com/mozilla/marketplace-tests/blob/master/pages/desktop/developer_hub/edit_app.py#L265
to
<code>ActionChains(self.selenium).send_keys_to_element(element, value).perform()</code>
or
<code>ActionChains(self.selenium).move_to_element(element).send_keys

[2015-02-26 21:36] bobsilverberg commented on #618
@krupa @davehunt I have tried a few things today and cannot get this to work either. I'm not sure if something changed in the page, or if it is a Selenium issue, although I suspect these tests used to pass with the current Selenium version. @krupa can you look into whether something has changed with the page and the code for uploading screenshots? @davehunt do you have any other suggestions?

[2015-03-04 12:56] davehunt commented on #618
I'm assuming this isn't a Sauce Labs issue? Have you tried with the latest versions of Selenium and Firefox? It sounds like it might be a Selenium bug - it might also be worth trying with Marionette to see if it works there.

[2015-03-09 20:17] rbillings commented on #610
It looks like the last time this test failed was 2/17/15, but has been passing ever since.
https://webqa-ci.mozilla.com/job/marketplace.dev/

[2015-03-11 16:36] stephendonner opened #628 "Investigate/fix test_clicking_on_content_rating"
At least on the marketplace.prod.* runs, test_clicking_on_content_rating is failing:

https://webqa-ci.mozilla.com/job/marketplace.prod.saucelabs/51/testReport/tests.desktop.consumer_pages.test_details_page/TestDetailsPage/test_clicking_on_content_rating/

Sauce Labs job: http://saucelabs.com/jobs/13b222ae0d4143918d27b142bba75379

Stack:

=================================== FAILURES ==============

[2015-03-11 17:45] stephendonner opened #629 "Investigate/fix test_that_reports_abuse_as_anonymous_user and test_that_reports_abuse_as_signed_in_user"
See https://webqa-ci.mozilla.com/job/marketplace.dev.saucelabs/41/testReport/

We need to investigate and fix/file a bug on (if necessary):

test_that_reports_abuse_as_anonymous_user and test_that_reports_abuse_as_signed_in_user

Here's a sample stack:

__________ TestDetailsPage.test_that_reports_abuse_as_anonymous_user ___________
[gw12] linux2 -- Python 2.7.9 /var/lib/jenkins/jobs/marketplace.d

[2015-03-11 18:34] mstriemer commented on #629
Looks like this is https://bugzilla.mozilla.org/show_bug.cgi?id=1139364

[2015-03-11 18:44] mstriemer commented on #628
The region dropdown is accessed in https://github.com/mozilla/marketplace-tests/blob/master/pages/desktop/regions/debug.py#L14 by the id of `region`. Since https://github.com/mozilla/fireplace/commit/a4ef033960f3ba9c7658b5536fb829b6128f59ac the select now has the id of `debug-region` but maintains `name="region"`.

[2015-03-12 00:14] stephendonner commented on #629
Indeed; which landed in https://github.com/mozilla/fireplace/pull/1070 and fixed us:

https://webqa-ci.mozilla.com/view/Marketplace/job/marketplace.dev.saucelabs/43/testReport/

[2015-03-12 00:14] #629 closed

[2015-03-12 02:15] stephendonner commented on #628
@mstriemer thanks greatly! - would you be up for a pull to our repo to help fix?

[2015-03-12 14:17] mstriemer commented on #628
I opened https://github.com/mozilla/marketplace-tests/pull/630 to fix this.

[2015-03-12 15:43] #628 closed

[2015-03-17 16:26] krupa opened #632 "Add a test to make an app purchase with region=India"
## Environment
Desktop

## Pre-condition
Tester is logged in

## Steps to reproduce
1.  Load marketplace on Firefox browser
2. Go to /debug and set region to India
3. Search for :paid on marketplace
4. Click the buy button for one of the apps in the search results

## Expected behavior
Enter PIN screen loads in a popup

[2015-03-17 16:28] kumar303 commented on #632
for context, this was always broken https://bugzilla.mozilla.org/show_bug.cgi?id=1143119 so we want to avoid regressions

[2015-03-18 01:20] stephendonner commented on #632
@clouserw can we take this opportunity for someone from your team to work with us on adding this test?

[2015-03-23 20:30] clouserw commented on #632
If you file a bug, we (ddurst) can add it to the KTLO tracker.

[2015-04-06 17:10] rbillings opened #638 "Investigate marketplace prod timeout issue for test_home_page"
This test is repeatedly failing with a timeout error:
tests.desktop.consumer_pages.test_home_page.TestConsumerPage

4/1 https://webqa-ci.mozilla.com/job/marketplace.prod/115/HTML_Report/
4/2 https://webqa-ci.mozilla.com/job/marketplace.prod/124/HTML_Report/
4/6 https://webqa-ci.mozilla.com/job/marketplace.prod/132/HTML_Report/

[2015-04-06 17:16] bobsilverberg commented on #638
I will take a look at this.

[2015-04-06 17:19] bobsilverberg commented on #638
The specific test that is failing is `test_opening_every_category_page_from_categories_menu`. @rbillings it's good to add the test name to the issue as well.

[2015-04-06 18:22] bobsilverberg commented on #610
I have submitted PR #639 that addresses this test, which is also discussed in issue #638. I'm going to close this issue.

[2015-04-06 18:22] #610 closed

[2015-04-06 18:27] bobsilverberg commented on #534
@krupa Do we still need this exact test? We have tests in which we log in to Marketplace using a temporary Firefox Account that we pre-create for the test. It seems like these steps are more a test of FxA then of Marketplace. Do you think our existing coverage is ok, or do we still need to create a new FxA while trying to log in to Marketplace?

[2015-04-06 19:24] bobsilverberg commented on #638
PR #639 has been merged, and the test is passing now. Let's leave this open for a week or so to ensure that the test doesn't have future intermittents.

[2015-04-06 19:46] bobsilverberg opened #640 "test_hosted_paid_app_submission is failing because there are no payment accounts set up"
Failure can be seen at [1], but is fairly mysterious because of `try/except`. I believe that creating the appropriate payment account(s) in dev should fix the problem.

The user is mozilla.mp@gmail.com

@krupa can you fix this?

[2015-04-06 21:40] stephendonner commented on #640
cc @jasonthomas too ^^^

[2015-04-09 18:09] krupa commented on #640
This is now fixed.

[2015-04-09 19:21] bobsilverberg opened #643 "Investigate intermittent StaleElementReferenceException on test_clicking_on_content_rating"
This test fails from time to time with a `StaleElementReferenceException`. This should be investigated and addressed.

Sample failures are:
https://webqa-ci.mozilla.com/view/Marketplace/job/marketplace.dev/87/testReport/junit/tests.desktop.consumer_pages.test_details_page/TestDetailsPage/test_clicking_on_content_rating/
https://webqa-ci.mozilla.com/view/Marketplace/job/marketplace.dev/85/testRepor

[2015-04-13 15:34] davehunt opened #644 "Upgrade py.test dependency to 2.7"
We should update to the latest version of py.test. This can be done by updating the pinned versions of pytest, py, and any pytest plugins from `requirements.txt` to the latest versions. See https://github.com/mozilla/Addon-Tests/commit/bfa2336803debe57aaffaed4e1033e5d88f4c198 as an example.

We should also remove any dependencies that are not required, such as `pytest-xdist`, which is useful for r

[2015-04-13 19:09] bobsilverberg commented on #638
This test has passed consistently since the PR was merged. I am going to close this.

[2015-04-13 19:09] #638 closed

[2015-04-13 19:14] bobsilverberg opened #645 "Investigate failure of test_clicking_on_content_rating"
This has been failing on `prod.saucelabs` and `prod` since Apr. 10. A couple of the failures on `prod` are `StaleElementReferenceException`s. All of the failures on sauce are just assertion failures.

https://webqa-ci.mozilla.com/job/marketplace.prod/148/testReport/junit/tests.desktop.consumer_pages.test_details_page/TestDetailsPage/test_clicking_on_content_rating/
https://webqa-ci.mozilla.com/job

[2015-04-13 19:17] bobsilverberg commented on #645
It is also failing on `stage.saucelabs`

[2015-04-13 19:20] bobsilverberg commented on #643
This is a duplicate of #645.

[2015-04-13 19:20] #643 closed

[2015-04-13 19:27] bobsilverberg opened #646 "Investigate failure of test_that_checks_the_deletion_of_a_review and test_that_checks_the_editing_of_a_review"
These have failed on `dev` [1],  `dev.saucelabs` [2], [3] and `stage.saucelabs` [4].

[1] https://webqa-ci.mozilla.com/job/marketplace.dev/91/testReport/tests.desktop.consumer_pages.test_reviews/TestReviews/test_that_checks_the_deletion_of_a_review/
[2] https://webqa-ci.mozilla.com/job/marketplace.dev.saucelabs/122/testReport/tests.desktop.consumer_pages.test_reviews/TestReviews/test_that_checks_t

[2015-04-14 02:06] bobsilverberg opened #649 "Address failures of developer_hub tests because of screenshot thumbnail"
The screenshot thumbnail is not loading properly which is causing a number of tests to fail [1].

I have opened a bug [2] about this. If it is not to be fixed immediately we should xfail the tests.

@krupa Can you follow up with the developers?

[1] https://webqa-ci.mozilla.com/view/Marketplace/job/marketplace.dev.developer_hub/73/
[2] https://bugzilla.mozilla.org/show_bug.cgi?id=1154123

[2015-04-14 15:22] #645 closed

[2015-04-17 17:22] #646 closed

[2015-04-17 17:58] bobsilverberg opened #653 "Developer_hub tests are failing because of 403 errors from the API that is used to add apps"
Example failure: https://webqa-ci.mozilla.com/job/marketplace.dev.developer_hub/82/testReport/tests.desktop.developer_hub.test_api_submit/TestAPI/test_assert_that_a_app_can_be_added_and_deleted_via_the_api/

@krupa is going to reinstate access for our test user. This issue can be closed once that is done.

[2015-04-21 14:01] bobsilverberg opened #655 "Marketplace desktop review tests are failing"
It looks like the three review tests, `test_that_checks_the_deletion_of_a_review`, `test_that_checks_the_addition_of_a_review` and `test_that_checks_the_editing_of_a_review` are failing again, at least on dev.

I tried to reproduce these failures locally and was unable to, so this is going to need some more investigation.

Failures can be seen at https://webqa-ci.mozilla.com/job/marketplace.dev.sa

[2015-04-22 17:22] krupa opened #657 "Add a test to install an app on desktop"
## Steps to reproduce:
1. Load marketplace(dev/stage)
2. Search for :desktop
3. Install any of the apps listed in the search results

## Expected behavior
App is installed successfully.

[2015-04-22 17:59] bobsilverberg commented on #657
Thanks @krupa. Do we need a separate test for this, or are we going to just install an app as an initial step for `test_settings_dropdown_menu`? I thought we had discussed the latter.

[2015-04-22 18:06] bobsilverberg commented on #653
This has been fixed.

[2015-04-22 18:06] #653 closed

[2015-04-23 14:43] bobsilverberg commented on #655
This was fixed by PR #656

[2015-04-23 14:43] #655 closed

[2015-04-23 20:52] bobsilverberg commented on #640
@krupa This seems to be an issue again, I guess because of another recent db refresh. Can you please fix again?

[2015-04-23 22:30] krupa commented on #640
done.

[2015-04-23 22:30] #640 closed

[2015-04-27 20:42] rbillings commented on #644
Closing as the PR was created & merged. Thanks @justinpotts !

[2015-04-27 20:42] #644 closed

[2015-04-27 20:43] rbillings commented on #521
@tarun1992 - are you going to finish this? It will be unassigned this week if you don't comment/complete it.

[2015-04-28 18:59] davehunt opened #663 "StaleElementException when submitting a review"
It appears that we're trying to get the text of an element while the page is still loading.

[2015-05-04 21:06] bobsilverberg opened #667 "Add a setup.cfg file to configure the behaviour of flake8"
This is a simple task:

1. Add a new file to the repo called `setup.cfg`. The file should look just like the file found at https://github.com/mozilla/mcom-tests/blob/master/setup.cfg
2. Update the `.travis.yml` file so the `script:` line reads:
[code]

[2015-05-11 14:26] rbillings commented on #667
This was done and merged

[2015-05-11 14:26] #667 closed

[2015-05-11 14:26] #521 closed

[2015-05-12 17:38] krupa commented on #620
## Pre-conditions:
a. Tester has https://addons.mozilla.org/en-US/firefox/addon/dev-marketplace/
b.  Tester has Firefox 38 installed on their Android device.

## Steps to reproduce:
1. Open https://marketplace-dev.allizom.org on your fennec browser.
2. Search for 'Test Zippy With me' app or any of the paid apps on dev.
3. Click the purchase button for one of the listed paid apps
4. Sign in using f

[2015-05-18 14:46] davehunt opened #670 "Switch to using pytest-variables for credentials"
We should move the handling of credentials to pytest-variables. This means changing the example credentials.yml file to variables.json with suitable top level keys and migrating the tests to use the injected variables. We should also add pytest-variables as a dependency.

The variables file would probably look something like this:

[code]

Looking at the existing tests, we may want to do a bit of

[2015-05-18 19:49] krupa opened #671 "Update tests to reflect changes to button copy."
Install buttons now say "Install for free" or Install for <price>".

We need to update the tests to reflect this change.

[2015-05-19 15:09] bobsilverberg commented on #671
I am working on this.

[2015-05-19 20:29] krupa opened #674 "Update paid app submission test to add a payment account"
https://github.com/mozilla/marketplace-tests/blob/master/tests/desktop/developer_hub/test_developer_hub_submit_apps.py needs to be updated to include adding a payment account IF it doesn't exist.

So, after submission, while the test is setting up payment details, it should check if an associated payment account exists. If not,

1. Navigate to the Compatibility & Payments page in the devhub
2. Cli

[2015-05-20 23:22] krupa opened #675 "Review saucelabs failures on https://webqa-ci.mozilla.com/job/marketplace.dev.mobile.saucelabs/"
https://webqa-ci.mozilla.com/job/marketplace.dev.mobile.saucelabs/ has a lot of failures with TimeoutException. It isn't clear from the saucelabs screencasts, what is tripping up the tests but the behavior is expected and these tests should be passing.

[2015-05-21 10:10] davehunt commented on #675
They're waiting for at least one result to be displayed. We're using CSS selector `.product .info` to find results ([code](https://github.com/mozilla/marketplace-tests/blob/4f6c4c082377d8f39c1aeeee3dab894db9ba69bf/pages/mobile/search.py#L16)). I can confirm on Marketplace dev that this locator returns nothing.

[2015-05-21 10:11] davehunt commented on #675
On prod the locator is still working, so I'm guessing we need to update the locator for dev and staging.

[2015-05-21 10:18] davehunt commented on #675
Looks like it comes from https://github.com/mozilla/fireplace/commit/b6890ff5d20de95185cd3bb5ac6f2023fb28f295, which dropped 'product' from the class of the link.

[2015-05-21 14:16] davehunt commented on #663
This was fixed by https://github.com/davehunt/marketplace-tests/commit/437f1becfb25e15b0115bd3bdb0f18d3896fd4b9

[2015-05-21 14:16] #663 closed

[2015-05-26 14:22] m8ttyB commented on #671
@bobsilverberg are you still working on this?

[2015-05-26 17:07] bobsilverberg commented on #671
@m8ttyB I submitted a couple of PRs that address this, which have been merged. I think all has been addressed, but we should make one last look at any outstanding failures to be sure they are not related to this change. If there are not any then this issue can be closed.

[2015-05-26 23:25] krupa opened #677 "Make sure Recommended tab shows up only if the checkbox is selected"
## preconditions
1. Tester is signed in to marketplace

## Steps to reproduce
1. Go to the settings page at https://marketplace-dev.allizom.org/settings
2. Make sure the recommended  checkbox is selected
3. Check that the Recommended tab is listed in the header
4. Uncheck the recommended checkbox from /settings page
5. Make sure that Recommended tab is not listed in the header anymore.

[2015-05-27 19:09] #675 closed

[2015-05-28 17:48] krupa opened #679 "Update tests to not use Test Zippy With Me"
We used to use the test app Test Zippy With Me to test the reference implementation for payment. Since we switched to fake apps, all paid apps on dev use zippy. Instead of depending on Test Zippy With Me, let's just use and :paid app.

https://webqa-ci.mozilla.com/view/Buildmaster/job/marketplace.mozilla-b2g32_v2_0.nightly/236/HTML_Report/

[2015-05-28 20:43] bobsilverberg commented on #679
@krupa I am actively working on this. The job you reference is for the FxOS tests, so the issue belongs to that repo. Do you mind closing this and opening it for that repo?

[2015-05-29 11:45] bobsilverberg commented on #679
Closing as a duplicate of https://github.com/mozilla/marketplace-tests-gaia/issues/114

[2015-05-29 11:45] #679 closed

[2015-06-01 20:44] bobsilverberg opened #680 "Investigate and address failure of tests for reporting abuse"
See failures at https://webqa-ci.mozilla.com/view/Buildmaster/job/marketplace.dev/178/

[2015-06-01 21:56] #680 closed

[2015-06-02 15:52] #670 closed

[2015-06-08 16:22] rbillings commented on #671
Verified recent failures are not related to the install button, closing.

[2015-06-08 16:25] rbillings commented on #671
I take it back, this is still happening: https://webqa-ci.mozilla.com/job/amo.stage.saucelabs/

[2015-06-08 16:28] rbillings commented on #671
Sorry sorry [getting my buildmaster legs], the failure is from https://github.com/mozilla/Addon-Tests/issues/773, not the button copy.

[2015-06-08 16:28] #671 closed

[2015-06-10 19:32] krupa commented on #620
Note that the screencast doesn't include steps to sign in (makes the video too long)
screencast: http://cl.ly/3c3r3E0L2y06

[2015-06-11 08:40] davehunt commented on #620
Thanks @krupa so what's not shown in this screencast is the installation of the "Dev Marketplace" addon, but if we can achieve what that addon does without needing to install it that would be preferred.

The very last part of this video looks like an Android OS level prompt - can you confirm that? If that's the case I don't expect Marionette would help here, so we may need to be able to hand off t

[2015-06-11 16:30] ncalexan commented on #620
Thanks @krupa!

On Thu, Jun 11, 2015 at 1:40 AM, Dave Hunt <notifications@github.com> wrote:

The add-on is simple, so we wouldn't necessarily need to configure this
using the add-on.

It is definitely an Android OS level prompt.  I think we would want to
observe (and abort) the browser message that launches the installation
process on Android rather than try to interact with that prompt.

Seeing

[2015-06-12 08:57] davehunt commented on #620
It's likely that this particular test will not run on buildbot. Web QA runs end-to-end integration tests against deployed environments in Jenkins.

[2015-06-12 15:22] ncalexan commented on #620
On Fri, Jun 12, 2015 at 1:57 AM, Dave Hunt <notifications@github.com> wrote:

Then you may be able to arrange this with an add-on that runs the test.
You would be able to drive the chrome (where necessary) and the content
using the add-on SDKs.

@erikvold did a bunch of work making testing with mobile add-ons on Travis
possible, see: https://github.com/erikvold/jpm-mobile and
https://github.com/er

[2015-06-12 21:43] bobsilverberg commented on #674
I have started working on this. I hope to have a PR ready by Monday.

[2015-06-15 15:08] bobsilverberg commented on #606
This was completed in https://github.com/mozilla/marketplace-tests/commit/5bf45e0181c579141e08eb8ed6d6799b61b8f713

[2015-06-15 15:08] #606 closed

[2015-06-15 15:09] bobsilverberg commented on #534
@krupa There is a question above awaiting an answer from you.

[2015-06-16 15:20] davehunt commented on #674
Is this to resolve an intermittent failure or to test an additional user flow? If the former then I think I understand the need, however if it's the latter then I think we'd be giving a false positive every time this test ran whenever a payment account already exists.

[2015-06-16 15:23] bobsilverberg commented on #674
The former. There is no intent to test the flow of adding a payment account.

[2015-06-16 15:26] davehunt commented on #674
Okay, under what circumstances would there be no payment account?

[2015-06-16 15:27] bobsilverberg commented on #674
When a db refresh has been done on dev.

[2015-06-16 15:32] davehunt commented on #674
Okay, and I'm guessing there's no way to do this via an API? I'm also assuming we don't want to log anything when we have to create an account?

[2015-06-18 20:36] bobsilverberg opened #687 "Update the suite to work with FxAPom v1.3.1"
We are currently pinned to an older version of FxAPom [1] due to an incompatibility between the latest version and the code in `conftest.py`. This task is to update `conftest.py` to work with the latest version of FxAPom.

[1] https://github.com/mozilla/fxapom

[2015-06-23 20:55] krupa opened #689 "Add a test to open a website from the details page"
## Steps to reproduce:
1. Open marketplace-dev app on your firefoxOS device
2. Go to New tab
3. Filter the content to show only Websites
4. Click on one of the listed websites to load the details page
5.  Click "Open"

## Expected behavior:
The website loads in a new tab on the browser

[2015-06-24 15:53] bobsilverberg commented on #689
This was opened in the wrong repo. I opened https://github.com/mozilla/marketplace-tests-gaia/issues/121 to replace this.

[2015-06-24 15:53] #689 closed

[2015-06-26 16:11] bobsilverberg commented on #649
This has been resolved.

[2015-06-26 16:11] #649 closed

[2015-06-26 16:53] bobsilverberg opened #693 "Review and improve waits in the developer hub tests"
A lot of the tests seem to have negative waits that are taking a long time (e.g., wait for element to not be present/visible that needs to time out in order to return). We should review these and fix the waits as we could significantly speed up the test suite.

[2015-07-07 19:51] bobsilverberg opened #695 "Investigate using a new user for developer hub tests, specifically test_hosted_paid_app_submission"
Ideally the new code proposed in PR #684 would always be run, as opposed to only when a payment account is missing. This task is to try running the test with a new user, rather than an existing one. If all goes well we might consider porting the other tests to new users rather than existing ones.

[2015-07-07 20:36] bobsilverberg commented on #695
This has been added into PR #684

[2015-07-16 17:50] #674 closed

[2015-07-16 18:06] bobsilverberg commented on #695
This has been addressed via PR #684. All of the tests that submit an app now use a new user created via `FxAPom`. Unfortunately at this time it does not look like we can change the other developer hub tests to use a new user as we need to create apps via the API to interact with via the test and can only create those apps for a known user. I have pinged mat in IRC to discuss this.

[2015-07-16 18:18] bobsilverberg opened #698 "Conduct a quality audit of the tests in this repo"
Some members of the team have noticed problems with some of the tests in this repo. They don't seem to be properly testing what they are intended to test.

This task is to review all tests in the repo to ensure that they are accurate. This will also include a review of whether the tests are still needed or not.

[2015-07-16 18:22] bobsilverberg commented on #693
This task will be expanded to review and potentially change the waits for the whole suite, not just developer hub. The plan for this is:
1. Disable implicit waits in Selenium
2. Review tests that are broken as a result of #1, above
3. Determine a strategy for waits for the suite, which could include creating our own custom ExpectedConditions class.

[2015-07-16 21:45] bobsilverberg opened #699 "Update test_hosted_paid_app_submission to work with the different forms that exist on dev and staging"
https://webqa-ci.mozilla.com/view/Marketplace/job/marketplace.stage.developer_hub.saucelabs/ is failing because there are different forms that appear when creating a payment account on dev and staging. The test passes on dev but fails on staging.

We need to update the test and/or page objects to allow it to pass in both environments.

[2015-07-17 09:40] #677 closed

[2015-07-17 18:46] bobsilverberg commented on #699
I am working on this.

[2015-07-21 13:33] bobsilverberg commented on #695
It doesn't sound like there is a solution for the tests that need an app pre-created via the API at this time, so I'm going to close this issue.

[2015-07-21 13:33] #695 closed

[2015-07-22 16:55] bobsilverberg commented on #687
This was fixed via https://github.com/mozilla/marketplace-tests/commit/9af6a89a6a9956c68399456a1bef7ee476cb3744

[2015-07-22 16:55] #687 closed

[2015-07-23 13:37] #699 closed

[2015-07-23 13:38] bobsilverberg commented on #618
This has been fixed.

[2015-07-23 13:38] #618 closed

[2015-08-12 17:20] krupa opened #706 "Test to check for the Desktop Games homepage"
## Description
The desktop marketplace homepage will now only show games.

## Steps to test
1. Load marketplace-dev on your desktop Firefox.
1. Check for the following -
  1. There is PLAY GREAT DESKTOP GAMES header. Underneath it, we show information regarding the Game's name, developer and category.
  1. There is a primary featured game block with a button to play the game
  1. There are three s

[2015-08-12 17:40] krupa opened #707 "Test to check for the Games category page"
## Steps to test
1. Load marketplace-dev app on your desktop Firefox
1. Click on the Find more great games link
1. Check for the following
  1. There is a PLAY GREAT DESKTOP GAMES header
  1. There is a banner explaining why HTML5 games are great
  1. On hover on one of the category-featured games, we show the category, icon, name, developer and the button
  1. There are filters which can be appli

[2015-08-12 17:51] krupa opened #708 "Test to check launching a game from desktop Marketplace"
## Steps to test
1. Launch marketplace-dev on your desktop marketplace
2. Click on the 'Play Now!' button for the main featured game

## Expected behavior
The game launches in a new tab

[2015-08-18 13:40] davehunt opened #710 "Reviews tests fail due to missing 'Write a review' button"
All the tests that create a review failed today because the 'Write a review' button was not present on https://marketplace-dev.allizom.org/app/delicious-stew-11/?src=search after signing in.

In each case the user was a temporary generated Firefox Account user. @krupa do you have any ideas why this button would not be present? See the screenshot below:

![screenshot](https://cloud.githubuserconten

[2015-08-18 16:49] krupa commented on #710
@davehunt that test shouldn't be failing. I tried reproducing the issue with a new user and the flow worked fine for me. The button is not present in two scenarios - a) It is a paid app you have not yet purchased b) the app is not available in your region. Both cases don't apply to the app under test.

I will investigate further and report back.

[2015-09-25 19:18] krupa opened #720 "Inspect the timeouts on marketplace-dev builds"
https://webqa-ci.mozilla.com/job/marketplace.dev/386/testReport/ has failures related to timeouts. We need to review why those timeouts are happening.

[2015-09-29 16:11] davehunt commented on #720
I just reran the suite and everything passed. The timeout looks like a failure of the Selenium server to respond so it may have been network issues between our Jenkins box and the VM running the test. I'm not sure what else we can do to investigate this particular issue at this time. Please reopen if you see it again.

[2015-09-29 16:11] #720 closed

[2015-10-05 13:53] davehunt commented on #568
I'm unable to access any of the original links, which makes this almost impossible to investigate now. We should try removing the xfail to see if it's still an issue (or look at the recent results history). I'm not sure I understand how a Chrome issue could cause this, as I believe the test is using the default browser on Android. Until we have more information, I'm going to close this.

[2015-10-05 13:53] #568 closed

[2015-10-05 22:07] krupa opened #721 "Update marketplace tests"
https://webqa-ci.mozilla.com/view/Marketplace/job/marketplace.dev/404/testReport/ is failing because we landed changes to app tiles. We need to update the tests to make them go green again.

[2015-10-09 14:14] davehunt commented on #721
I believe this was fixed by #722

[2015-10-09 14:14] #721 closed

[2015-10-10 15:19] GroteGnoom commented on #707
3. iii. Does not seem to work on a manual test:
When I go to https://marketplace-dev.allizom.org/games/all and hover over one of the shown games, this is the result:
![gamepiconhover](https://cloud.githubusercontent.com/assets/8137208/10411805/40ae8590-6f72-11e5-8472-25d3e58a3bb2.png)
So the category, icon, name and 'Play now' button are visible, but I don't see a developer.

Is the test correct?

[2015-10-10 15:27] GroteGnoom commented on #706
On a manual test of step iii, no game developer is visible on hover. Is this a bug?

[2015-10-12 16:04] krupa commented on #706
I think we should hold off on this test since there is talk of reverting the Games-related changes we did to Desktop.

[2015-10-12 16:05] krupa commented on #707
Let us hold off on this test.

[2015-10-20 18:28] krupa opened #725 "Upcoming Nav changes will break all marketplace tests for Consumer pages; need to update tests"
There is a Nav change which will change the entire layout of marketplace mobile experience. It is still not landed but when it does, almost all our tests are going to break. This is just a proactive issue to fix those tests when the PR lands.

[2015-10-21 02:36] stephendonner opened #726 "Investigate/fix test_opening_category_pages_from_categories_menu"
test_opening_category_pages_from_categories_menu has been really problematic (at least on dev):

https://webqa-ci.mozilla.com/job/marketplace.dev.sanity.saucelabs/1049/testReport/junit/test_home_page/TestConsumerPage/test_opening_category_pages_from_categories_menu/history/

Let's try to figure out if this is a test-automation code/wait problem, a slow dev-server problem, and/or both, and do somet

[2015-10-21 08:51] davehunt commented on #725
Is there any chance the Marketplace devs can help us with the test failures? They should see the failures in their Travis results. Do you have a link to the PR with the pending changes?

[2015-10-21 08:54] davehunt commented on #726
I've seen this too, and I supect the wait for the element to not be moving has a bug. This was previously failing much more frequently before the new wait, but obviously we're far from stable. I suspect some debug information in the expected condition might provide some light. I can look into this soon.

[2015-10-21 14:11] davehunt commented on #726
Please reopen if this is still an issue.

[2015-10-21 14:11] #726 closed

[2015-10-27 13:43] bobsilverberg commented on #725
I didn't see a response from @krupa on this. Looking at https://github.com/mozilla/fireplace, I am guessing the commit is https://github.com/mozilla/fireplace/commit/1f661f87c54f174c4cb49c80c73777917f4bc00d#diff-d8e033f39f0b267cfa721273c38aa92b. I am going to start work on updating the page objects to deal with these code changes.

[2015-10-27 14:56] bobsilverberg commented on #725
I found a bug [1] while testing this, so I am holding off on making any changes, for now, in the hopes that that bug gets fixed.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1218812

[2015-10-27 15:58] bobsilverberg commented on #725
This has been discussed in #marketplace and with @krupa and the suggestion is to just ignore the test results for marketplace-dev for the rest of the week as work is ongoing on this.

[2015-11-03 15:00] bobsilverberg commented on #725
FTR, I am working on this again.

[2015-11-03 18:09] #725 closed

[2015-11-03 19:14] krupa commented on #620
This has been de-prioritized.

[2015-11-03 19:14] #620 closed

[2015-11-03 19:15] krupa commented on #632
This has been de-priortized.

[2015-11-03 19:15] #632 closed

[2015-11-03 19:19] krupa commented on #605
This feature has been removed with a UX redesign.

[2015-11-03 19:19] #605 closed

[2015-11-03 19:20] krupa commented on #657
This is hard to add since it involves interaction with the Chrome. Since desktop is a low priority, we don't have the bandwidth to write and maintain this test,

[2015-11-03 19:20] #657 closed

[2015-11-03 22:16] krupa commented on #707
This will be reverted soon

[2015-11-03 22:16] #707 closed

[2015-11-03 22:17] krupa commented on #706
This will be reverted soon.

[2015-11-03 22:17] #706 closed

[2015-11-03 22:17] krupa commented on #708
This will be reverted soon.

[2015-11-03 22:17] #708 closed

[2015-11-05 21:11] krupa opened #735 "Test add-on submission"
NOTE: The test account needs to be given access to on both dev and stage

## steps to reproduce:
1. Using an account with access, sign into https://marketplace-dev.allizom.org/content/
2. Click on 'Submit a FirefoxOS Add-on'
3. Upload a valid add-on file
4. Submit

## Expected behavior:
Add-on submission is successful

[2015-11-06 01:07] bobsilverberg commented on #735
Thanks @krupa. Are you able to set up those accounts and provide me with the credentials? Are you able to provide me with a valid add-on file?

[2015-11-06 19:22] krupa commented on #735
Can we just use the current credentials? I can just give that account access. yes, I can provide you with a test file. Since github doesn't allow uploading .zip files, I will send it via email.

[2015-11-11 16:51] bobsilverberg commented on #735
I am working on this now

[2015-11-23 16:33] bobsilverberg commented on #735
I guess the commit message needs to say `Fixes #735` rather than `Fixes Issue #735` as this issue does not seem to have auto-closed. In any case, this was fixed in https://github.com/mozilla/marketplace-tests/commit/8daa3115e2519a3d454f681328cb05479fbc0d6b

[2015-11-23 16:33] #735 closed

[2015-11-23 16:37] davehunt commented on #735
:balloon: :tada: :balloon: :tada: :balloon:

[2015-11-23 16:41] bobsilverberg commented on #735
:)

[2015-12-14 15:17] bobsilverberg opened #740 "Restore the value of the `top` property in ContentTools.select_add_on_file()"
See https://github.com/mozilla/marketplace-tests/pull/737/files#r47372913 for details

[2015-12-15 22:47] krupa opened #741 "xfail the paid app submission test"
Until Zippy is back up again, this test will fail. Our Ops person is on PTO and we are heading into the Holidays. We should xfail it.

test_developer_hub_submit_apps.TestDeveloperHubSubmitApps.test_hosted_paid_app_submission is the one we need to xfail.

[2016-01-05 16:04] davehunt commented on #741
I'm not exactly sure what Zippy is, but I see that this test is failing. Is there a bug on file for getting this fixed? I'm not keen on xfailing tests without more information, but I will have a pull request open shortly.

[2016-01-05 17:54] #741 closed

[2016-02-05 14:32] bobsilverberg opened #748 "Remove payment test"
Based on the fact that Bug 1212152 - "App purchases are failing on dev" [1] was marked as WONTFIX, we should remove the payment test [2], which is currently xfailed, from the repo. Any page objects and methods that are no longer required as a result of this test removal should be removed as well.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1212152
[2] https://github.com/mozilla/marketplace-t

[2016-02-10 22:05] krupa opened #750 "Retire all android related tests for Marketplace"
We will soon stop supporting webapps on Android. Let us retire all tests related to Android and stop the testsuites which are running in Saucelabs.

[2016-02-10 22:11] krupa opened #751 "Retire all tests related to payments on Marketplace"
We have a few payments tested which have been xfailed for a while. Let us retire them. Thanks!

[2016-02-11 09:22] davehunt commented on #750
@krupa to clarify, do you mean that all files under `marketplace-tests/tests/mobile/` and `marketplace-tests/pages/mobile/` can now be removed?

[2016-02-11 09:23] davehunt commented on #751
It looks like #748 is a duplicate of this. As this covers multiple tests though, let's keep this one open.

[2016-02-11 09:24] davehunt commented on #748
Closing in favour of #751

[2016-02-11 09:24] #748 closed

[2016-02-11 09:26] davehunt commented on #751
@krupa I can only find [one test](https://github.com/mozilla/marketplace-tests/blob/4cc0037d6ddafc8d2e8c36e04f76d782d7f0f44f/tests/desktop/consumer_pages/test_purchase_app.py) are you aware of any others?

[2016-02-11 18:55] krupa opened #752 "Update devhub tests to accommodate switching to the new IARC api"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1143040, we updated Content ratings to point to their latest API. This changed the UI for content ratings and thus all our devhub tests are failing.

We need to update our tests.

[2016-02-12 09:13] davehunt commented on #752
@krupa or @clouserw could you provide some documentation on the new version of the API, which might help us to update the tests?

[2016-02-16 22:08] stephendonner commented on #752
Perhaps @diox from https://github.com/mozilla/zamboni/pull/3489 can help us here, too?

[2016-02-16 22:37] diox commented on #752
What do you need help with exactly ?

Quick summary of the changes:
- If you go through IARC questionnaire, the flow is the same. But I guess you don't.
- If you want to skip that, instead of knowing a submission id + security code you need to know a valid IARC certificate id. Our API to set content ratings has changed as a result, it now uses a single `cert_id` parameter. The [documentation was u

[2016-02-17 17:01] davehunt commented on #752
@diox In that case I believe we may need an update and new release of [Marketplace.Python](https://github.com/mozilla/Marketplace.Python). It's currently failing on [this line](https://github.com/mozilla/Marketplace.Python/blob/master/marketplace/client.py#L234) against dev.

[2016-02-18 00:03] diox commented on #752
The owner of the test application on dev (and stage later when we enable IARC on stage, if those tests also run there) will need to follow the new IARC questionnaire on dev from the test app and get an IARC certificate ID. Once this is done it will need to be copied in [mock_application.py](https://github.com/mozilla/marketplace-tests/blob/master/mocks/mock_application.py#L42) we can implement the

[2016-02-18 11:57] davehunt commented on #752
I'm not sure what you mean by the 'owner of the test application'. These tests generate a new application for each test, so there is no single test application.

[2016-02-18 11:59] diox commented on #752
I should have added a plural :) My point was, it's probably better to start from one of the test applications in order to generate the certificate properly.

[2016-02-18 12:02] davehunt commented on #752
Okay thanks, I'm not familiar enough with Marketplace or these tests to know where to find the IARC questionnaire on dev or how to complete it if I did. Perhaps @krupa can help here?

[2016-02-18 12:07] diox commented on #752
I just pushed something to show the certificate ID in the content ratings page for each app in devhub, it will land on dev shortly and make our lives easier.

[2016-03-10 11:41] davehunt commented on #750
Pull request #755 submitted for review.

[2016-03-10 11:41] davehunt commented on #751
Pull request #755 submitted for review.

[2016-03-11 08:41] davehunt commented on #750
Fixed in https://github.com/mozilla/marketplace-tests/pull/755

[2016-03-11 08:41] #750 closed

[2016-03-11 08:42] davehunt commented on #751
Fixed in https://github.com/mozilla/marketplace-tests/pull/755

[2016-03-11 08:42] #751 closed

[2016-03-14 16:26] davehunt commented on #752
@krupa we've stopped running these tests in CI, so can we close this issue?

[2016-03-14 19:24] krupa commented on #752
yes, let us close this issue.

[2016-03-14 19:24] #752 closed

[2016-04-22 18:10] rbillings commented on #740
Closing as PR was merged.

[2016-04-22 18:10] #740 closed

[2016-05-05 17:14] krupa opened #760 "Retire tests/builds/repos related to Marketplace"
Let us remove the tests/builds/repos related to Marketplace
## builds:
marketplace.dev
marketplace.dev.developer_hub
marketplace.dev.developer_hub.saucelabs
marketplace.dev.sanity.saucelabs
marketplace.dev.saucelab
marketplace.mozilla-b2g32_v2_0.nightly
marketplace.prod
marketplace.prod.sanity.saucelabs
marketplace.prod.saucelabs
marketplace.stage.developer_hub.saucelabs
marketplace.stage.sanity.s

[2016-05-05 18:52] stephendonner commented on #760
Taking - I'll do the above, per https://wiki.mozilla.org/QA/Execution/Web_Testing/Repositories#Deactivating_a_repository

[2016-05-05 21:06] stephendonner commented on #710
Closing due to https://github.com/mozilla/marketplace-tests/issues/760

[2016-05-05 21:06] #710 closed

[2016-05-05 21:07] stephendonner commented on #563
Closing due to https://github.com/mozilla/marketplace-tests/issues/760

[2016-05-05 21:07] #563 closed

[2016-05-05 21:07] stephendonner commented on #436
Closing due to https://github.com/mozilla/marketplace-tests/issues/760

[2016-05-05 21:07] #436 closed

[2016-05-05 21:07] stephendonner commented on #698
Closing due to https://github.com/mozilla/marketplace-tests/issues/760

[2016-05-05 21:07] #698 closed

[2016-05-05 21:07] stephendonner commented on #693
Closing per https://github.com/mozilla/marketplace-tests/issues/760

[2016-05-05 21:07] #693 closed

[2016-05-05 21:08] stephendonner commented on #534
Closing per https://github.com/mozilla/marketplace-tests/issues/760

[2016-05-05 21:08] #534 closed

[2016-05-06 17:23] #760 closed